html, body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	width: 90%;
	margin: auto;
	margin-top: 40px;
}

table {
	border-collapse: collapse;
	border-bottom: 1px solid gray;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	width: 70%;
	margin: auto;
	margin-top: 50px;
}

th {
	border-bottom: 1px solid gray;
	background: none repeat scroll 0 0 #126509;
	padding: 15px;
	color: #FFFFFF;
}

tr {
	border-top: 1px solid gray;
	text-align: center;
}

tr:nth-child(even) {
	background: #FFFFFF
}

tr:nth-child(odd) {
	background: #BBBBBB
}

td {
	padding: 10px;
}

#wrapper {
	width: 100%;
	margin-top: 0px;
}

#header {
	background: #1a089e;
	margin-top: 0px;
	padding: 15px 0px 15px 15px;
}

#header h2 {
	width: 100%;
	margin: auto;
	color: #FFFFFF;
}

#container {
	width: 100%;
	margin: auto
}

#container h3 {
	color: #000;
}

#container #content {
	margin-top: 20px;
}

.add-button {
	border: 1px solid #666;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	padding: 15px 25px;
	color: white;
	background: #043b39;
	margin-top: 40px;
	float: right;
	margin-right: 15%;
}

.add-button:hover {
	background: #0b9d97;
}

.search-button {
	border: 1px solid #666;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 15px;
	color: white;
	background:#e56d03;
}

.search-button:hover {
	background: #ce8b50;
}

.update{
	text-decoration: none;
	color: darkblue;
}

.update:hover{
	font-weight: bold;
}

.delete{
	text-decoration: none;
	color: #a30000;
}

.delete:hover{
	font-weight: bold;
}